body
{
	background: white;
	min-height: 200vh;
	font-family: 'Comfortaa';
	color: black;
}

header {
	position: fixed;
	top: 0;
	Left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.6s;
	padding: 30px 100px;
	z-index: 100000;
}

header.sticky {
	padding: 4px 100px;
	background: #e2a363; /*#C19F7AFF;*/
}

header.sticky .logo-navbar img {
	filter: brightness(0) invert(1);
	height: 4em;
}

header.sticky .bi-list, header.sticky .bi-bag {
	color: white;
	font-size: 1.6em;
	text-shadow: none;
}

header .logo-navbar img {
	position: relative;
	height: 5.2em;
	text-decoration: none;
	transition: 0.6s;
}

header .menu, header .bag {
	position: relative;
	color: black;
	font-weight: bold;
	text-decoration: none;
	transition: 0.6s;
	font-size: 2em;
	text-shadow: 0 0 8px white;
}

header .menu:hover, header .bag:hover, header .logo-navbar:hover {
	cursor: pointer;
	transform: scale(1.2);
}



/* menu */

.menu-overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-y: hidden;
  transition: 0.5s;
	text-decoration: none;
  text-transform: uppercase;
}

.menu-overlay-content {
  position: relative;
  top: 20%;
overflow: hidden;
  text-align: center;
  margin-top: 30px;
    
}

.menu-overlay a {
	font-family: Comfortaa;
	font-weight: 500;
	padding: 8px;
	text-decoration: none;
	font-size: 2em;
	color: black;
	display: block;
	transition: 0.3s;
}

 
.menu-overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  color: black;
  font-size: 60px;
}

.menu-overlay .closebtn:hover {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #e2a363;
}

.menu {
	color: black;
}

/* underline of menu-items */
.un {
  display: inline-block;
  padding-bottom:3px;
  background-image: linear-gradient(#e2a363, #e2a363);
  background-position: 0 100%; /*OR bottom left*/
  background-size: 0% 3px;
  background-repeat: no-repeat;
  transition:
    background-size 0.3s,
    background-position 0s 0.3s; /*change after the size immediately*/
}

.un:hover {
  background-position: 100% 100%; /*OR bottom right*/
  background-size: 100% 3px;
}

/* active menu-item */
.active {
	background-size: 100% 3px;
	color: black;
}


/* section part */


.banner {
position:relative;
  background-image: url("../images/menu.jpg");
  height: 50vh; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 160%;

}


.title {
	
	position: absolute;
        top: 52%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
		color: white;
}

.title-text {
	text-shadow: 8px 8px 8px black;
	text-decoration: underline solid #e2a363;
	text-underline-offset: 0.2em;
}


/* Our Services and Our Products*/
.services {
	margin: 2.5% 0;
}

.services h1 {
	color: #871C0E;
}

.services h1:hover {
	color: black;
}

.services h1, .services h5{
	display: flex;
	font-family: 'Playfair Display', serif;
	justify-content: center;
}

.services .row {
	padding: 28px 11%;
	width: 99vw;
}

.sq-img {
	padding: 0;
	width: 350px;
	height: 350px;
	margin: 30px;
	overflow: hidden;
	border: 2.5px solid #e2a363;
	border-radius: 5%;
	position: relative;
}

.sq-img:hover {
	background-color: RGBA(247,163,99,0.41);
	border: 2.5px solid white;
	cursor: pointer;
}

	
.sq-img img{
	width: 100%;
	height: 100%;
}
		
.sq-img-text {
	text-align: center;
	color: black;
}

services .image {
  display: block;
  width: 100%;
  height: auto;
}

.menu-title{
	color: #871C0E;
	display: flex;
	font-family: 'Playfair Display', serif;
	justify-content: center;
}

.menu-title:hover {
	color: black;
}

.prod-name{
	position: absolute;
	display:block;
	background-color: #e2a363;
	width: inherit;
	bottom: 0%;
	padding: 5px 30px;
	text-align: center;
	font-size: 25px;
	color: white;
}


.sand-1 {
	background: url("../images/menu/1.png");
	background-size: cover;
	background-position: center;
}
.sand-2 {
	background: url("../images/menu/2.png");
	background-size: cover;
	background-position: center;
}
.sand-3 {
	background: url("../images/menu/3.png");
	background-size: cover;
	background-position: center;
}
.sand-4 {
	background: url("../images/menu/4.png");
	background-size: cover;
	background-position: center;
}
.sand-5 {
	background: url("../images/menu/5.png");
	background-size: cover;
	background-position: center;
}
.sand-6 {
	background: url("../images/menu/6.png");
	background-size: cover;
	background-position: center;
}
.sand-7 {
	background: url("../images/menu/7.png");
	background-size: cover;
	background-position: center;
}
.sand-8 {
	background: url("../images/menu/8.png");
	background-size: cover;
	background-position: center;
}
.sand-9 {
	background: url("../images/menu/9.png");
	background-size: cover;
	background-position: center;
}
.sand-10 {
	background: url("../images/menu/10.png");
	background-size: cover;
	background-position: center;
}


.cold-1 {
	background: url("../images/menu/cold-1.png");
	background-size: cover;
	background-position: center;
}

.cold-2 {
	background: url("../images/menu/cold-2.png");
	background-size: cover;
	background-position: center;
}
.cold-3 {
	background: url("../images/menu/cold-3.png");
	background-size: cover;
	background-position: center;
}
.cold-4 {
	background: url("../images/menu/cold-4.png");
	background-size: cover;
	background-position: center;
}
.cold-5 {
	background: url("../images/menu/cold-5.png");
	background-size: cover;
	background-position: center;
}
.cold-6 {
	background: url("../images/menu/cold-6.png");
	background-size: cover;
	background-position: center;
}
.cold-7 {
	background: url("../images/menu/cold-7.png");
	background-size: cover;
	background-position: center;
}


.warm-1 {
	background: url("../images/menu/warm-1.png");
	background-size: cover;
	background-position: center;
}


.warm-2 {
	background: url("../images/menu/warm-2.png");
	background-size: cover;
	background-position: center;
}

.warm-3 {
	background: url("../images/menu/warm-3.png");
	background-size: cover;
	background-position: center;
	display: flex;

}

.warm-4 {
	background: url("../images/menu/warm-4.png");
	background-size: cover;
	background-position: center;
}

.warm-5 {
	background: url("../images/menu/warm-5.png");
	background-size: cover;
	background-position: center;
}


/* modal */


.product-deets {
		height:  490px;
		width: 1400px;
		bottom: 2%;
		right: 0%;
		margin: 0;
		padding-right: 0;
		padding-left: 0;
		position: absolute;

	
}

.modal-body{
	text-align: center;
}

/*	PARALLAX */
.parallax {
  background-image: url("../images/footer-top-bg.jpg");
  height: 250px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 40px;
}

/* Footer */

footer {
	margin-bottom: 0px;
	width: 100%;
	--bs-gutter-x: 1.5rem;
}

footer .logo-footer {
 width: 75%;
 margin-bottom: 20px;
 margin-top: -10px;
}

footer .row {
padding: 60px 10%;
width: 99vw;
background: url("../images/footer-bg.jpg");

}

footer .links {
	padding-left: 5%;
}

.footer-c {
background: #e2a363;
padding: 15px 8%;
color: white;

}

.social-icons {
	float: right;
	margin-top: -10px;
}

.social-icons .fab {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: white;
    background: transparent;
	margin-left: 10px;
    cursor: pointer;
}

.social-icons .fab:hover {
	color: white;
	border: 2px solid white;
	background: transparent;
	text-align: center;
}

footer .btn {
	background-color: #e2a363;
	color: white;
	transition: 0.5s;
	margin-left:  20px;
}

footer .btn:hover {
	cursor: pointer;
	transform: scale(1.2);
	color: white;
}


/* Menu Bar for Menu*/

.menu-bar .nav-link {
	font-size: 22px;
}


.menu-bar a {
  color: black;
  text-transform: lowercase;
  text-decoration: none;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

.menu-bar a:hover {
	 color:  #e2a363; 
	 cursor: pointer;
}

.menu-bar a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2.5px;
  left: 50%;
  position: absolute;
  background: #871C0E; 
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
  
  
}
.menu-bar a:hover:after { 
  width: 100%; 
  left: 0; 
  
}

.menu-bar a:focus {
	color: #e2a363; 
}




#sandwich, #warm, #cold {
	display: block;
}

/* modal */

.modal-image {
	width:  70%;
}

.modal-image-2 {
	width:  80%;
}